* {
  top: 0;
  left: 0;
  margin: 0px;
  padding: 0px;
}

.screen-bg{
  height: 100vh;
  width: 100vw;
  display: flex;
  background-color: black;
  justify-content: center;
  align-items: center;
}
.bg-video{
  width: 100vw;
  height: 100vh;
}
